include LICENSE
include MANIFEST.in
include ChangeLog
include README.txt
recursive-include siteuser/templates/siteuser *
recursive-include siteuser/upload_avatar/static *
recursive-include siteuser/users/static *
recursive-include example *
recursive-exclude example/avatar *
recursive-exclude * *.pyc
exclude example/test.db
exclude example/example/local_settings.py
