<div class="siteuser">
    {% if done %}
        <p>修改密码成功，现在就 <a href="{% url 'siteuser_login' %}">登录</a></p>
    {% else %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <label>输入新密码</label>
                <input id="siteuserChangePw" type="password" name="password" placeholder="输入新密码">
                <label>重新复密码</label>
                <input id="siteuserChangePw1" type="password" name="password1" placeholder="重复新密码">
            </fieldset>
            <button type="submit" id="siteuserChangePwBtn" class="btn">确定</button>
        </form>
        {% if error_msg %}
        <div id="siteuserChangePwError" class="alert alert-error">{{ error_msg }}</div>
        {% endif %}
    {% endif %}
</div>