<div class="siteuser">
    {% if step1 %}
        <form aciont="" method="post">{% csrf_token %}
            <fieldset>
                <label>电子邮件</label>
                <input id="siteuserResetPwEmail" type="text" name="email" placeholder="请输入注册时的电子邮件">
            </fieldset>
            <button type="submit" id="siteuserResetPwBtn" class="btn">确定</button>
        </form>
        {% if error_msg %}
        <div id="siteuserResetPwStep1Error" class="alert alert-error">{{ error_msg }}</div>
        {% endif %}
    {% endif %}
    
    {% if step1_done %}
        <p>请您查收电子邮件，并打开邮件中的链接进行重置密码的操作</p>
        <p>如果在收件箱中没找到邮件，请在垃圾邮件中查找</p>
    {% endif %}
    
    {% if step2 %}
        {% if expired %}
            <p>此重置链接已过期，请 <a href="{% url 'siteuser_reset_step1' %}">重新申请</a> 得到新的链接</p>
        {% else %}
            <h3>请重新设置密码</h3>
            <form action="" method="post">{% csrf_token %}
                <fieldset>
                    <label>输入密码</label>
                    <input id="siteuserResetPwPassWd1" type="password" name="password" placeholder="输入密码">
                    <label>重复密码</label>
                    <input id="siteuserResetPwPassWd2" type="password" name="password1" placeholder="重复密码">
                </fieldset>
                <button type="submit" id="siteuserResetPwPassWdBtn" class="btn">确定</button>
            </form>
            {% if error_msg %}
            <div id="siteuserResetPwStep2Error" class="alert alert-error">{{ error_msg }}</div>
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% if step2_done %}
        <p>已完成密码重置，立即<a href="{% url 'siteuser_login' %}">登录</a></p>
    {% endif %}
</div>