<div id="uploadAvatar">
    <link rel="stylesheet" href="{{ STATIC_URL }}imgareaselect/css/imgareaselect-default.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}imgareaselect/jquery.imgareaselect.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/upload_avatar.min.js"></script>
    
    <form id="uploadAvatarCropForm" action="{% url 'uploadavatar_crop' %}" method="post" target="uploadAvatarIframe" style="display: none;">
        {% csrf_token %}
        <input id="uploadAvatarValueX1" type="text" name="x1"/>
        <input id="uploadAvatarValueY1" type="text" name="y1"/>
        <input id="uploadAvatarValueX2" type="text" name="x2"/>
        <input id="uploadAvatarValueY2" type="text" name="y2"/>
    </form>
    
    <div id="uploadAvatarUploadArea">
        <form id="uploadAvatarForm" action="{% url 'uploadavatar_upload' %}" method="post" target="uploadAvatarIframe" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="uploadAvatarInputFile" name="uploadavatarfile" />
            <button type="submit" class="btn">上传</button>
        </form>
    </div>
    <iframe id="uploadAvatarIframe" name="uploadAvatarIframe" style="display: none;"></iframe>
    
    <div id="uploadAvatarSelectArea" style="width: 300px; height: 300px; border: 1px solid #ddd;"></div>
    <div id="uploadAvatarPreviewArea">
        <p>预览</p>
        <div id="uploadAvatarPreviewArea50" style="width: 50px; height: 50px; border: 1px solid #ddd; overflow: hidden;"></div>
        <div id="uploadAvatarPreviewArea120" style="width: 120px; height: 120px; border: 1px solid #ddd; overflow: hidden;"></div>
    </div>
    
    <div style="clear: both;"></div>
    
    <div id="uploadAvatarBtns">
        <button class="btn" id="uploadAvatarCropSubmit" disabled="disabled">保存</button>
    </div>
    
    <div id="uploadAvatarCropResult"></div>
</div>
